@{
    ViewData["Title"] = "Privacy Policy";
}
@*
<h1>@ViewData["Title"]</h1>
*@
<br /><br /><br /><br />
<center>
       <hr />
      <h2 style="color: darkgoldenrod">Molimo Vas da ne narušavate našu privatnost.</h2>
       <hr />    
        <h5 style="color: darkgray" >Pita Naida    |    Šahat Faruk    |    Terzić Dženana </h5>

</center>
 


