@model Cinestvar.Models.Rezervacija

@{
    ViewData["Title"] = "BrojKarata";
}

<h1>BrojKarata</h1>

<h4>Rezervacija</h4>
<hr />
<h5>Unesite željeni broj karata:</h5>
<div class="row">
    @Html.TextBoxFor(model => model.IdRezervacije)
     <form asp-controller="RezervacijaController" asp-action="Create" asp-route-id="@Model.IdRezervacije" method="post">
    
    <button type="submit">Potvrdi</button>
</form>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
