@model Cinestvar.Models.Termin

@{
    ViewData["Title"] = "Create";
}

<h1>Potvrda rezervacije</h1>

<h4>Vaša rezervacija je skoro gotova!</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <p>Naziv filma: @Html.DisplayFor(model=>model.Film.NazivFilma)</p>
                <p>Termin: @Html.DisplayFor(model=>model.PocetakTermina)</p>
                <p>Sala: @Html.DisplayFor(model=>model.IdSale)</p>
            </div>
            <div class="form-group">
                
            </div>
            <div class="form-group">
                <a asp-action="PotvrdiPravno" asp-route-id=@Model.IdTermina  class="btn btn-primary">Potvrdi</a> 
                 <a asp-controller="Film" asp-action="Index" class="btn btn-secondary">Odustani</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
